- throw_content(:subtitle, _("PREVIEW"))

.entriesblock
  = partial( "shared/form", :with => @entry )
  - if @entry.errors.empty?
    #entries
      %ol.entrieslist= partial( "shared/entry", :with => @entry )
