<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>TITLE</title>
    <link href="/stylesheets/master.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
      var RecaptchaOptions = {
            theme : 'white'
          };
    </script>

    <script type="text/javascript" src="/javascripts/jquery.js"></script>          
    <script type="text/javascript">                                         
      <%= jquery %>
    </script>                                                               

  </head>

  <body>

    <div id="wrap">
      <div id="header"><h1><a href="/"><%= _("GUESTBOOK") %></a></h1>
        <p class="subtitile"><%= catch_content :subtitle %></p>
      </div>

      <div id="content">

          <%= catch_content :for_layout %>

      </div>
    </div>

    <div id="footer">
      Copyright &copy; 2008 <a href="">noname</a>
    </div>
  </body>
</html>
